@using Domain.Entities
@using  Application.Services.ClassesServices
@inject  IClassServices ClassesService
@page "/CLASSES" 
<h2>Student</h2>
<table>
    <tr>
        <th>Id</th>
         <th>EducationLevel</th>
          <th>Faculty</th>
           <th>Department</th>
            <th>Session</th>
    </tr>

    @foreach(var ClassJua in Classes)
         
         {
            <tr>
                <td>@ClassJua.Id</td>
                 <td>@ClassJua.EducationLevel</td>
                  <td>@ClassJua.Faculty</td>
                   <td>@ClassJua.Department</td>
                         <td>@ClassJua.Session</td>
            </tr>

         } 
    
</table>
@code{
    private List<ClassJua>Classes = new List<ClassJua>();

    protected override void OnInitialized()
    {
        Classes=ClassesService.GetAllClasses();
    }
}